<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="sys/include :: header"></head>
<body class="white-bg">

	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-infoPublish-add" th:object="${infoPublish}">
			<input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">
				<label class="col-sm-3 control-label ">标题：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" id="title" name="title" th:field="*{title}"/>
				</div>
			</div>	
			<div class="form-group">
				<label class="col-sm-3 control-label ">信息分类：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" id="infoType" name="infoType" th:field="*{infoType}"/>
				</div>
			</div>	
			<div class="form-group">
				<label class="col-sm-3 control-label ">发布日期：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" id="pubDate" name="pubDate" th:field="*{pubDate}"/>
				</div>
			</div>	
			<div class="form-group">
				<label class="col-sm-3 control-label ">状态：</label>
				<div class="col-sm-8">
					<select class="form-control" id="status" name="status" th:with="statusDicList=${@dic.getDic('useable_status')}">
		         		<option th:each="dic:${statusDicList}" th:text="${dic.fullName}" th:value="${dic.code}" th:field="*{status}"></option>
	                </select>
				</div>
			</div>	
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">保存</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>

	</div>
    <div th:include="sys/include :: footer"></div>
    
    <script th:inline="javascript">
		//初始化日期
		layui.use(['laydate'], function(){
			var laydate = layui.laydate;
			laydate.render({elem: '#pubDate',type:'datetime'});//日期控件指定元素
		});
		$("#form-infoPublish-add").validate({
			rules:{
			},
			messages: {
    		},
			submitHandler: function(form) {
				$.operate.save(prefix + "/save_add", $('#form-infoPublish-add').serialize());
			}
		});
	</script>
</body>
</html>
