/**********我的系统拓展样式**********/

/*****系统样式重写*****/
/*横向菜单底部横线背景*/
.content-tabs {
    border-bottom: solid 1px #e5e5e5;
}
/*纵向菜单展开左边边框背景*/
.nav > li.active {
	border-left: 3px solid #3c8dbc;
	background: #293846;
}
/*搜索框左边间隔*/
.form-group {
    padding-left: 5px;
    padding-right: 10px;
}
/*输入框文字间隔*/
.form-control, .single-line {
    padding: 6px 6px;
}
/*复选框和单选框 排成一行*/
.i-checks {
	display: inline-block;
}

/*****我定义的通用样式*****/
/*下拉选择框宽度*/
.form-selectdown {
	width : 150px !important;
}
/*边框颜色调整*/
.iboxborder {
    border: 1px solid #ddd;
    border-radius: 4px;
}
/**遮罩层框样式 */
.loaderbox {
  display: inline-block;
  min-width: 125px;
  padding: 10px;
  margin: 0 auto;
  color: #000 !important;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ddd;
  background-color: #eee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}
/**遮罩层加载中样式 */
.loaderbox .loading-activity {
  float: left;
  width: 18px;
  height: 18px;
  border: solid 2px transparent;
  border-top-color: #000;
  border-left-color: #000;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}


/*****我定义的个别用样式*****/
/*主页个人中心资料*/
.own-info-content {
    min-height: 250px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: 100%;
    position: absolute;
}
