<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="sys/include :: header"></head>
<!-- 自定义webim网页即时通讯插件css -->
<th:block th:include="sys/include :: webim-css"/>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" th:src="@{${person.headPic}}" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                  <span class="block m-t-xs"><strong class="font-bold">[[${person.personName}]]</strong></span>
                                  <span class="text-muted text-xs block">[[${org.fullName}]]<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="J_menuItem" href="/sys/person/to_reset_own_info">个人中心</a>
                                </li>
                                <li><a class="J_menuItem" href="/sys/person/to_reset_own_pwd">修改密码</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/quit">退出登录</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">α
                        </div>
                    </li>

                    <li class="active">
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">常用功能</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="http://www.baidu.com">百度连接</a></li>
                        </ul>
                    </li>
                    <!-- 最多支持五级菜单 -->
                    <li th:each="resource : ${resources}">
                        <a href="#">
                            <i th:class="${resource.icon}"></i>
                            <span class="nav-label" th:text="${resource.resourceName}">一级菜单</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li th:each="bmenu : ${resource.children}">
                                <a th:if="${#lists.isEmpty(bmenu.children)}" class="J_menuItem" th:text="${bmenu.resourceName}" th:href="@{${bmenu.url}}">二级菜单</a>
                                <a th:if="${not #lists.isEmpty(bmenu.children)}" href="#">[[${bmenu.resourceName}]]<span class="fa arrow"></span></a>
                                <ul th:if="${not #lists.isEmpty(bmenu.children)}" class="nav nav-third-level">
                                    <li th:each="cmenu : ${bmenu.children}">
                                        <a th:if="${#lists.isEmpty(cmenu.children)}" class="J_menuItem" th:text="${cmenu.resourceName}" th:href="@{${cmenu.url}}">三级菜单</a>
                                        <a th:if="${not #lists.isEmpty(cmenu.children)}" href="#">[[${cmenu.resourceName}]]<span class="fa arrow"></span></a>
                                        <ul th:if="${not #lists.isEmpty(cmenu.children)}" class="nav nav-third-level">
                                            <li th:each="dmenu : ${cmenu.children}">
                                                <a th:if="${#lists.isEmpty(dmenu.children)}" class="J_menuItem" th:text="${dmenu.resourceName}" th:href="@{${dmenu.url}}">四级菜单</a>
                                                <a th:if="${not #lists.isEmpty(dmenu.children)}" href="#">[[${dmenu.resourceName}]]<span class="fa arrow"></span></a>
                                                <ul th:if="${not #lists.isEmpty(dmenu.children)}" class="nav nav-third-level">
                                                    <li th:each="emenu : ${dmenu.children}"><a class="J_menuItem" th:text="${emenu.resourceName}" th:href="@{${emenu.url}}">五级菜单</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#">
                            <i class="fa fa-android"></i>
                            <span class="nav-label">智能问答</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/iqa/knowledge/to_library">知识文库</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/iqa/work/to_space">客服工作</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/iqa/work/to_worker">客服人员</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-desktop"></i>
                            <span class="nav-label">示例模型</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">jquery示例 <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
		                            <li>
		                                <a class="J_menuItem" href="/comm/example/to_jquery_signature">电子签名</a>
		                            </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">功能展示 <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
		                            <li>
		                                <a class="J_menuItem" href="/comm/example/to_iqa_automatic">智能问答</a>
		                            </li>
		                            <li>
		                                <a class="J_menuItem" href="/comm/example/to_iqa_manual">人工客服</a>
		                            </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-envelope-open-o fa-fw"></i> 请查看最新公告并回复
                                            <span class="pull-right text-muted small">17:45</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-envelope-o fa-fw"></i> 请查看最新群里最新消息
                                            <span class="pull-right text-muted small">17:26</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a class="J_menuItem" href="/current">
                                            <strong> 查看所有消息</strong>
                                            <i class="fa fa-angle-double-right "></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="hidden-xs">
                            <a href="/current" class="J_menuItem" data-index="0"><i class="fa fa-rss"></i>意见问题反馈</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="#" class="active J_menuTab" data-id="current_id">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>

            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" th:src="@{/current}" frameborder="0" data-id="current_id" seamless></iframe>
            </div>
        	
            <div class="footer">
                <div class="pull-right"><a href="#"><i class="fa fa-copyright"></i> 2019-2029 </a>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
    
    <div th:include="sys/include :: footer"></div>
    <!-- 自定义webim网页即时通讯插件js -->
    <th:block th:include="sys/include :: webim-js"/>
    
    <!-- 全局js -->
    <script th:src="@{/aerfa/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/aerfa/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
    <!-- 自定义js -->
    <script th:src="@{/aerfa/js/hplus.js?v=4.1.0}" type="text/javascript"></script>
    <script th:src="@{/aerfa/js/contabs.js}" type="text/javascript"></script>
    <!-- 第三方插件 -->
    <script th:src="@{/aerfa/js/plugins/pace/pace.min.js}" type="text/javascript"></script>


</body>

</html>
