<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="sys/include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated">
        <!--搜索区域开始-->
        <div class="ibox float-e-margins">
            <div class="ibox-content">
            	<form role="form" class="form-inline" id="form-role-search">
                    <div class="form-group">
                        <label>勾选完成后请点击按钮：</label>
                    </div>
                    <a class="btn btn-primary btn-sm" onclick="savePersonRole()"><i class="fa fa-floppy-o"></i> 保存人员授权</a>
                </form>
            </div>
        </div>
        <!--搜索区域结束-->
        <div class="ibox float-e-margins">
        	<div class="ibox-content">
                  <table id="bootstrap-table"></table>
        	</div>
        </div>
    </div>
    <div th:include="sys/include :: footer"></div>

    <!-- 带@放到单独的js会不执行，所以外面定义变量里面引用。-->
    <script th:inline="javascript">
        var statusDatas = [[${@dic.getDic('role_status')}]];
        var personId=[[${personId}]];//人员ID
        //初始化参数和数据
        $(function() {
            var options = {
                url:  "/sys/role/list",
                modalName: "数据权限",
                id:'id',//id字段
                showRefresh:false,
                showColumns:false,
                showToggle:false,
                showExport:false,
                paginationL:false,
                columns: [{
                    checkbox: true
                },{
                    field : 'roleName',
                    title : '角色名称',
                    width: '25.0%',
                    align: 'center',
                },{
                    field : 'roleCode',
                    title : '角色编码',
                    width: '25.0%',
                    align: 'center'
                },{
                    field : 'status',
                    title : '状态',
                    width: '10.0%',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.formatDicLabel(statusDatas, value);
                    }
                },{
                    field : 'remark',
                    title : '备注',
                    width: '35.0%',
                    align: 'center',
                }],
                onLoadSuccess: function(data) {
                    initOldPersonRole();
                }
            };
            $.table.init(options);
        });

        function initOldPersonRole(){
            $.ajax({
                type: "post",
                url: prefix+"/person_role/"+personId,
                dataType: "json",
                success: function (result) {
                    var idArr=[];
                    for(var i=0;i<result.length;i++){
                        idArr.push(result[i].id);
                    }
                    $("#bootstrap-table").bootstrapTable('checkBy', {field:'id',values:idArr});
                }
            });
        }

        /** 保存角色对应的数据权限 **/
        function savePersonRole(){
            var roleIds="";
            var selectionsRow=$("#bootstrap-table").bootstrapTable('getSelections');
            for(var i=0;i<selectionsRow.length;i++){
                roleIds+=selectionsRow[i].id+","
            }
            var url= prefix + "/save_person_role";
            var data={};data.personId=personId;data.roleIds=roleIds;
            var tipsInfo="确定保存人员对应的角色吗";
            $.operate.manageCommon(url,data,tipsInfo);
        }

    </script>
</body>
</html>