<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="sys/include :: header"></head>

<body class="gray-bg">
	<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-7">
            <div class="ibox float-e-margins">
            	<div class="ibox-title">
                    <h5>客服人员列表</h5>
                    <div class="ibox-tools pull-right">
		                <a class="dropdown-toggle" onclick="refreshWorker()" id="addCategory">
                           <i class="fa fa-refresh">刷新</i>
                        </a>
                     </div>
                </div>
         	    <div class="ibox-content">
                   <table id="bootstrap-table"></table>
            	</div>
            </div>
        </div>
        <div class="col-sm-5">
         	<div class="ibox float-e-margins">
            	<div class="ibox-title">
                    <h5>人员工作概览</h5>
                </div>
         	    <div class="ibox-content">
                   <div class="row">
                        <div class="col-xs-4">
                            <small class="stats-label">待处理</small>
                            <h4>8条</h4>
                        </div>
                   </div>
            	</div>
            	<div class="ibox-content">
                   <div class="row">
                        <div class="col-xs-4">
                            <small class="stats-label">当条处理</small>
                            <h4>18条</h4>
                        </div>
                   </div>
            	</div>
            	<div class="ibox-content">
                   <div class="row">
                        <div class="col-xs-4">
                            <small class="stats-label">当月处理</small>
                            <h4>198条</h4>
                        </div>
                   </div>
            	</div>
            </div>
        </div>
    </div>
	</div>
	<div th:include="sys/include :: footer"></div>
	<script th:inline="javascript">
	//初始化
    $(function() {
        var options = {
                  url: prefix+"/list_worker",
                  modalName: "客服人员",
                  showRefresh:false,
                  showColumns:false,
                  showToggle:false,
                  showExport:false,
                  columns: [{
                    title: '客服名称',
                    field: 'personName',
                    width: '25%',
                    align: "center"
                  },{
                    field: 'phoneNo',
                    title: '联系电话',
                    width: '30%',
                    align: "center"
                  },{
                      field: 'email',
                      title: '联系邮箱',
                      width: '25%',
                      align: "center"
                  },{
                    field: 'personSex',
                    title: '性别',
                    width: '15%',
                    align: "center",
                    formatter: function(value,row,index) {
                        if(row.personSex==1){
                            return "男";
                        }else if(row.personSex==0){
                            return "女";
                        }
                    }
                  }]
            };
            $.table.init(options);
    });

    /** 刷新人员列表 **/
    function refreshWorker(){
        $("#bootstrap-table").bootstrapTable('refresh');
    }
	</script>
</body>
</html>
