<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="sys/include :: header"></head>
<style type="text/css">
    .ibox-tools a {
        color:#888;
    }
</style>

<body class="gray-bg">
	<div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-7">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>客服人员列表</h5>
                        <div class="ibox-tools pull-right">
                            <a class="dropdown-toggle" onclick="refreshWorker()">
                               <i class="fa fa-refresh">刷新</i>
                            </a>
                         </div>
                    </div>
                    <div class="ibox-content">
                       <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">当天处理</span>
                            <h5>解答人数</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins" id="day">123</h1>
                            <div class="stat-percent font-bold text-navy">20% <i class="fa fa-level-down"></i>
                            </div>
                            <small>总数量</small>
                        </div>
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">本周处理</span>
                            <h5>解答人数</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins" id="week">712</h1>
                            <div class="stat-percent font-bold text-navy">13% <i class="fa fa-level-up"></i>
                            </div>
                            <small>总数量</small>
                        </div>
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">本月处理</span>
                            <h5>解答人数</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins" id="month">3,400</h1>
                            <div class="stat-percent font-bold text-navy">10% <i class="fa fa-level-up"></i>
                            </div>
                            <small>总数量</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Top5排名</h5>
                            <div class="ibox-tools pull-right">
                                <a class="dropdown-toggle" onclick="setBarChart()">
                                    <i class="fa fa-bar-chart">按日统计</i>
                                </a>
                                <a class="dropdown-toggle" onclick="setBarChart()">
                                    <i class="fa fa-bar-chart">按月统计</i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="echarts" id="echarts-bar-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div th:include="sys/include :: footer"></div>
    <th:block th:include="sys/include :: echarts-js"/>
	<script th:inline="javascript">
	//初始化
    $(function() {
        var options = {
              url: prefix+"/list_worker",
              modalName: "客服人员",
              pageSize:15,
              showRefresh:false,
              showColumns:false,
              showToggle:false,
              showExport:false,
              columns: [{
                  radio:true
              },{
                title: '客服名称',
                field: 'personName',
                width: '25%',
                align: "center"
              },{
                field: 'phoneNo',
                title: '联系电话',
                width: '30%',
                align: "center"
              },{
                  field: 'email',
                  title: '联系邮箱',
                  width: '25%',
                  align: "center"
              },{
                field: 'personSex',
                title: '性别',
                width: '15%',
                align: "center",
                formatter: function(value,row,index) {
                    if(row.personSex==1){
                        return "男";
                    }else if(row.personSex==0){
                        return "女";
                    }
                }
              }]
        };
        $.table.init(options);
        setBarChart();
        setOnclickRow();
    });

    /** 刷新人员列表 **/
    function refreshWorker(){
        $("#bootstrap-table").bootstrapTable('refresh');
    }

    /** setOnclickRow**/
    function setOnclickRow(){
        $('#bootstrap-table').on('click-row.bs.table', function (e,row,$element) {
            var count= row.id*100 + $.common.random(1,100);
            $("#day").html(count);
            $("#week").html(count*7);
            $("#month").html(count*30);
            setBarChart();
            $("#bootstrap-table").bootstrapTable("checkBy", {field:"id", values:[row.id]})
        });
    }

    function setBarChart() {
        var barChart = echarts.init(document.getElementById("echarts-bar-chart"));
        var baroption = {
            title : {
                text: '解答人数按日统计'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['解答总人数']
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : ['客服9号','客服13号','客服6号','客服8号','客服11号']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'解答总人数',
                    type:'bar',
                    data:[170, 165, 142, 123, 102],
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        barChart.setOption(baroption);
    }
    </script>
</body>
</html>
