<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="sys/include :: header"></head>
<th:block th:include="sys/include :: treetable-css"/>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated">
          <!--treegrid列表开始-->
          <div class="ibox float-e-margins">
              <div class="ibox-content">
                   <table id="bootstrap-treeTable"></table>
              </div>
          </div>
          <!--treegrid列表结束-->
    </div>

    <div th:include="sys/include :: footer"></div>
    <th:block th:include="sys/include :: treetable-js"/>

    <script th:inline="javascript">
        var quickVisitId=[[${quickVisitId}]];//quickVisitId的id
        //初始化树形网格数据
        $(function() {
            var options = {
                url: prefix + "/list_resource",
                id: 'id',
                parentId: 'parentId',
                columns: [{
                    field: 'resourceName',
                    title: '资源名称',
                    width: '30%'
                },{
                    title: '资源类型',
                    width: '10%',
                    align: "center",
                    formatter: function(value,item,index) {
                        if (item.resourceType == 'system') {
                            return '<span class="label label-danger">系统</span>';
                        }
                        else if (item.resourceType == 'module') {
                            return '<span class="label label-warning">模块</span>';
                        }
                        else if (item.resourceType == 'menu') {
                            return '<span class="label label-success">菜单</span>';
                        }
                        else if (item.resourceType == 'button') {
                            return '<span class="label label-primary">按钮</span>';
                        }
                    }
                },{
                    title: '资源标识',
                    field: 'identify',
                    width: '15%',
                    align: "center"
                },{
                    title: '操作',
                    width: '20%',
                    align: "center",
                    formatter: function(value,row, index) {
                        var actions = [];
                        if('menu' == row.resourceType){
                            actions.push('<a class="btn btn-info btn-xs" href="#" onclick="saveSelectedResource(\'' + row.id + '\')"><i class="fa fa-plus"></i>点击进行添加</a> ');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.treeTable.init(options);
        });

        function saveSelectedResource(resourceId){
            $.modal.confirm("确认添加至常用功能吗？", function() {
                var data={};
                data.id=quickVisitId;
                data.resourceId=resourceId;
                $.operate.save(prefix + "/save_add", data);
            })
        }
    </script>

</body>

</html>