<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="sys/include :: header"></head>
<style type="text/css">
    .file-box {
        width: 250px;
        float: none;
        display: inline-block;
    }
</style>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated">
        <div class="row">
            <div class="col-sm-12" align="center">
                <div th:each="quickVo : ${quick}" class="file-box">
                    <div class="file">
                            <span class="corner"></span>
                            <div class="icon">
                                <i class="fa fa-desktop"></i>
                            </div>
                            <div class="file-name">
                                [[${quickVo.resourceName}]]
                                </br>
                                <a class="btn btn-success btn-xs" href="#" th:onclick="'javascript:editQuickVisit(\''+${quickVo.id}+'\')'"><i class="fa fa-edit"></i>编辑</a>
                                <a class="btn btn-danger btn-xs" href="#" th:onclick="'javascript:delQuickVisit(\''+${quickVo.id}+'\',\''+${quickVo.resourceName}+'\')'"><i class="fa fa-remove"></i>删除</a>
                            </div>
                      </div>
                </div>
                <div class="file-box">
                    <div class="file">
                        <a href="#">
                            <span class="corner"></span>
                            <div class="icon">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="file-name">
                                常用功能
                                </br>
                                <a class="btn btn-info btn-xs" href="#" onclick=""><i class="fa fa-edit"></i>点击添加</a>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="sys/include :: footer"></div>

    <script th:inline="javascript">
        //初始化参数和数据
        $(function() {

        });
        function editQuickVisit(id){
            alert(id);
        }
        function delQuickVisit(id,name){
            var url = prefix+"/remove/{id}";
            $.operate.removeCommon(name+"常用功能", url, id);
        }
    </script>
</body>
</html>