<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="sys/include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated">
        <!--搜索区域开始-->
        <div class="ibox float-e-margins">
            <div class="ibox-content">
            	<form role="form" class="form-inline" id="form-job-search"> 		
	                <div class="form-group">
	                    <label>任务名称：</label>
						<input type="text" id="jobName" name="jobName" class="form-control">
	                </div>
	                <div class="form-group">
	                    <label>调用目标字符串：</label>
						<input type="text" id="invokeTarget" name="invokeTarget" class="form-control">
	                </div>
	                <div class="form-group">
	                    <label>状态：</label>
						<select class="form-control form-selectdown" id="status" name="status" th:with="statusDicList=${@dic.getDic('useable_status')}">
		         	         <option value="">所有</option>
		         			 <option th:each="dic:${statusDicList}" th:text="${dic.fullName}" th:value="${dic.code}"></option>
	                    </select> 
	                </div>
	                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search($('form').attr('id'))"><i class="fa fa-search"></i>&nbsp;查询</a>
            	</form>
            </div>
        </div>
        <!--搜索区域结束-->
        <div class="ibox float-e-margins">
        	<div class="ibox-content">
                 <div id="toolbar" >
                      <button type="button" class="btn btn-outline btn-default" onclick="$.operate.add()">
                          <i class="glyphicon glyphicon-plus" aria-hidden="true" ></i>新增
                      </button>
					 <button type="button" class="btn btn-outline btn-default" onclick="$.operate.editSelected()">
						 <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>修改
					 </button>
                      <button type="button" class="btn btn-outline btn-default" onclick="$.operate.batRemove()">
                          <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>删除
                      </button>
                  </div>
              
                  <table id="bootstrap-table"></table>
        	</div>
        </div>
    </div>
    <div th:include="sys/include :: footer"></div>
	<!-- 带@放到单独的js会不执行，所以外面定义变量里面引用。-->
	<script th:inline="javascript">
    	var statusDatas = [[${@dic.getDic('useable_status')}]];
    </script>
	<script th:src="@{/aerfa/myresource/js/sys/job/job.js}" type="text/javascript"></script>

</body>
</html>